a {
    text-decoration: none;
    color: #636b6f;
}
a:hover,
a:focus {
    text-decoration: underline;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected,
.pagination .page-item.active a {
    background-color: #636b6f;
    color: #fff
}

.nav-color>div,
.nav-color ul,
.nav-color li {
    background: #fff;
}

footer.bg-color{
    padding: 2em;
}

.pure-g>aside,
footer.bg-color,
footer.bg-color a {
    color: #636b6f;
    background: #fff;
    text-decoration: none;
}


