/*------------------------------------*\
	Helper classes
\*------------------------------------*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: .4rem;
    padding-right: .4rem;
    width: 100%;
}

@media only screen and (min-width: 48rem) {
    .container {
        max-width: 48rem;
    }
}

@media only screen and (min-width: 64rem) {
    .container {
        max-width: 64rem;
    }
}

@media only screen and (min-width: 80rem) {
    .container {
        max-width: 80rem;
    }
}

.clearfix::after,
.container::after {
  clear: both;
  content: "";
  display: table;
}

.center {
    margin: 0 auto;
    text-align: center;
}

/* Card */
.card {
    margin: 0.4rem;
    background: #fff;
    border: .05rem solid #e7e9ed;
    border-radius: .1rem;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.card .card-header span,
.card .card-footer span,
.card .card-header span a,
.card .card-footer span a{
    color:#888;
    text-decoration : none;
    font-size: 0.95em;
}

.card .card-header,
.card .card-body,
.card .card-footer {
  padding: .8rem;
  padding-bottom: 0;
}

.card .card-header:last-child,
.card .card-body:last-child,
.card .card-footer:last-child {
  padding-bottom: .8rem;
}

.card .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.card.card-body{
    padding: .8rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
}

.card-header {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card .card-footer {
    border-top: 1px solid transparent;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.card .card-title{
    font-family: sans-serif;
    font-weight: 600;
}

.card-area{
    padding: 0 .8rem;
}

/* Nav Shadow */
.nav-shadow{
    margin-bottom: 1em;
}

.nav-shadow>div{
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.nav-shadow li>ul {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

/* Pagination */
.pagination {
    display: flex;
    display: -ms-flexbox;
    list-style: none;
    margin: .2rem 0;
    padding: .2rem 0;
    justify-content:center; 
}

.pagination .page-item {
    margin: .2rem .05rem;
}

.pagination .page-item span {
    display: inline-block;
    padding: .2rem .2rem;
}

.pagination .page-item a {
    padding: .2rem .4rem;
    border-radius: .1rem;
    display: inline-block;
    text-decoration: none;
}

.pagination .page-item.disabled a {
    cursor: default;
    opacity: .5;
    pointer-events: none;
}

.pagination .page-item.page-prev,
.pagination .page-item.page-next {
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
}

.pagination .page-item.page-next {
    text-align: right;
}

.pagination .page-item .page-item-title {
    margin: 0;
}

.pagination .page-item .page-item-subtitle {
    margin: 0;
    opacity: .5;
}

/* BG-Image */
.bg-image {
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}

.bg-image .bg-image-title{
    border-radius: 0.5rem;
    margin: 1rem auto;
    padding: 1rem 2rem;
    display: inline-block;
    letter-spacing: 0.6em;
}

/* Font */
html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 3 */ 
    -ms-text-size-adjust: 100%; /* 3 */
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5em;
  margin-top: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.6rem;
}

h3,
.h3 {
  font-size: 1.4rem;
}

h4,
.h4 {
  font-size: 1.2rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: .8rem;
}
